<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Carrusel de Planetas</title>
  <link rel="stylesheet" href="../css/planetas.css">
</head>
<body>

  <h2 class="titulo">Explora los Planetas</h2>

  <div class="carousel">
    <button class="btn" onclick="prev()">❮</button>

    <div class="carousel-item">
      <img id="planet-img" src="img/mercurio.png" alt="Planeta">
      <h3 id="planet-name">Mercurio</h3>
    </div>

    <button class="btn" onclick="next()">❯</button>
  </div>

  <script src="script.js"></script>
</body>
</html>