<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona tu Tipo de Notificación</title>
    <link rel="stylesheet" href="../css/seleccionar-notificacion.css">
</head>
<body>
    <div class="container">
        <h1>Selecciona tu Tipo de Notificación</h1>
        <p>Elige el plan que mejor se adapte a tus necesidades.</p>
        <div class="plan-options">
            <div class="plan free">
                <h2>Gratuito</h2>
                <p>Recibe notificaciones básicas sobre la NASA.</p>
                <button id="freePlan">Seleccionar Gratis</button>
            </div>
            <div class="plan vip">
                <h2>VIP (Premium)</h2>
                <p>Notificaciones personalizadas y exclusivas por solo $10 al mes.</p>
                <button id="vipPlan">Seleccionar VIP</button>
            </div>
        </div>
    </div>
    <script src="../js/seleccionar-notificacion.js"></script>
</body>
</html>