<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>NASA — Tecnología</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FUENTE -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- ICONOS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <!-- CSS -->
  <link rel="stylesheet" href="../css/missiones.css">
  <link rel="stylesheet" href="../css/tecnologia.css">
</head>
<body>


<!-- ================= HEADER ================= -->
<header class="site-header">
  <div class="header-inner">

    <div class="header-left">
  <button class="menu-btn" id="menuBtn">☰</button>

  <div class="search-box">
    <i class="fas fa-magnifying-glass search-icon"></i>
    <input type="text" placeholder="Buscar en NASA">
  </div>
</div>


     <a href="index.htmln" class="brand-logo-link">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg" class="brand-logo" alt="NASA">
</a>


    <div class="header-right">
  <nav class="main-nav">
    <a href="missiones.html">Misiones</a>
    
    <a href="tecnologia.html">Tecnología</a>
    <a href="#">NASA TV</a>
    <a href="#">Noticias</a>

  

  <!-- BOTÓN LOGIN / REGISTRO -->
  <a href="logininiciodesesion.html" class="login-btn">
    <i class="fas fa-user-astronaut"></i>
    Acceder
  </a>
</nav>

  </nav>

 
</header>

<!-- ================= HERO VIDEO ================= -->
<section class="missions-hero-video">
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="../img/video2.mov" type="video/mp4">
  </video>

  <div class="missions-hero-overlay"></div>

  <div class="missions-hero-content">
    <h1>Tecnología de la NASA</h1>
    <p>Innovación que impulsa el futuro de la exploración espacial.</p>
  </div>
</section>

<!-- ================= FONDO + NOTICIAS ================= -->
<section class="featured-news-bg">

  <div class="featured-news">

    <h2>Nuevas Tecnologías</h2>

    <div class="news-grid">

      <article class="news-card large"
        style="background-image:url('../img/tecnologia1.jpg')">
        <a href="#" class="visit">visitar ↗</a>
        <div class="overlay">
          <p>La NASA probará tecnología para medir las singulares ondas de choque del X-59.</p>
        </div>
      </article>

      <div class="news-column">

        <article class="news-card"
          style="background-image:url('../img/tecnologia2.jpg')">
          <a href="#" class="visit">visitar ↗</a>
          <div class="overlay">
            <p>La tecnología de navegación robótica explorará las profundidades del espacio exterior.</p>
          </div>
        </article>

        <article class="news-card small"
          style="background-image:url('../img/tecnologia 3.png')">
          <a href="#" class="visit">visitar ↗</a>
          <div class="overlay">
            <p>La NASA regresa con un nuevo desafío de diseño de sistemas alimentarios.</p>
          </div>
        </article>

        <article class="news-card small"
          style="background-image:url('../img/tecnologia 4.webp')">
          <a href="#" class="visit">visitar ↗</a>
          <div class="overlay">
            <p>Comunicación láser</p>
          </div>
        </article>

      </div>
    </div>

  </div>
</section>




<section class="escape-section">
  <div class="escape-container">

    <!-- TEXTO -->
    <div class="escape-text">
      <h1>
        Sistema<br> 
        avanzado de vela<br>
        solar compuesta<br>
        (ACS3)
      </h1>

      <p>
       Un sistema de vela solar avanzada que utiliza la luz del Sol para propulsar naves espaciales sin combustible químico. En lugar de cohetes tradicionales, la nave “navega” aprovechando la presión de los fotones solares, lo que podría permitir exploraciones profundas de manera más eficiente y económica en futuras misiones. Esta tecnología se probó con éxito en órbita en 2024 y está considerada una de las invenciones más innovadoras del año.
      </p>

      <a href="#" class="more-info">
        Más información <span>↗</span>
      </a>
    </div>

    <!-- DIVISOR -->
    <div class="divider"></div>



  </div>
</section>





<section class="missions-section">
  <div class="missions-header">
    <h2>Nuestras Naves Espaciales</h2>
    <a href="#" class="discover-more">Descubre más ↗</a>
  </div>

  <div class="missions-grid">

    <a href="#" class="mission-card"
       style="background-image:url('../img/cohete.webp')">
      <span>Misiones científicas</span>
      <i>↗</i>
    </a>

    <a href="#" class="mission-card"
       style="background-image:url('../img/tecnologia2.jpg')">
      <span>Naves y cohetes</span>
      <i>↗</i>
    </a>

    <a href="#" class="mission-card"
       style="background-image:url('../img/tecnologia-3.png')">
      <span>Comunicación espacial</span>
      <i>↗</i>
    </a>

    <a href="#" class="mission-card"
       style="background-image:url('../img/tecnologia-4.webp')">
      <span>Humanos en el espacio</span>
      <i>↗</i>
    </a>

  </div>
</section>




<!-- ================= MENU LATERAL ================= -->
<aside class="side-menu" id="sideMenu">
  <button class="close-btn" id="closeMenu">✕</button>
  <nav class="side-nav">
    <a href="inicio.html">Inicio</a>
    <a href="missiones.html">Misiones</a>
    <a href="#">Ciencia</a>
    <a href="tecnologia.html">Tecnología</a>
    <a href="#">NASA TV</a>
    <a href="#">Noticias</a>
  </nav>
</aside>

<!-- ================= FOOTER ================= -->
<footer class="nasa-footer">

  <div class="footer-top">

    <!-- COLUMNA LOGO -->
    <div class="footer-col logo-col">
      <div class="logo-box">
        <img src="../img/logo.jpg" alt="NASA Logo">
      </div>

      <h3>
        Administración Nacional<br>
        de Aeronáutica y del Espacio
      </h3>

      <p>
        La NASA explora lo desconocido en el aire y el espacio, innova para
        beneficio de la humanidad e inspira al mundo a través del descubrimiento.
      </p>

      <a href="#" class="footer-link arrow">Únete a nosotros</a>
    </div>

    <!-- LINKS 1 -->
    <div class="footer-col">
      <a href="inicio.html">Inicio</a>
      <a href="missiones.html">Misiones</a>
      <a href="#">Personas en el espacio</a>
      <a href="#">Tierra</a>
      <a href="#">Sistema solar</a>
    </div>

    <!-- LINKS 2 -->
    <div class="footer-col">
      <a href="#">El Universo</a>
      <a href="#">Aeronáutica</a>
      <a href="tecnologia.html">Tecnología</a>
      <a href="#">Planetas</a>
      <a href="#">Acerca de la NASA</a>
      <a href="#">Tienda en línea</a>
    </div>

  </div>

  <div class="footer-divider"></div>

  <!-- FOOTER ABAJO -->
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <span>© 2026 NASA, Inc.</span>
      <a href="#">Términos</a>
      <a href="#">Privacidad</a>
      <a href="#">Mapa del sitio web</a>
      <a href="#">Administrar cookies</a>
    </div>

    <div class="footer-bottom-right">
      <span>🌐 Español / V 1.0</span>
    </div>
  </div>

</footer>


<script src="../js/tecnologia.js"></script>
</body>
</html>
